name: Continuous Integration

on:
  push:
    branches:
      - master
      - main
      - v*
  pull_request:
    branches:
      - master
      - main
      - v*

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      GOLANGCI_LINT_VERSION: "v2.4.0"
    steps:

      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          # Use cache from golangci-lint
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - name: Test
        run: |
          make test-race
